#root {
    width: 100%;
    font-family: sans-serif;
}
nav {
    height: 200px;
    a {
        text-decoration: none;
        color: black;
        padding: 20px 50px;
        font-weight: bold;
        &:hover {
            text-decoration: none;
            border-bottom: solid 3px $danger;
            border-top: solid 3px $danger;
            color: $danger;
            font-style: italic;
        }
    }
}
#home {
    margin: 0;
    padding: 0;
    width: 100%;
    .inner-banner {
        width: 80%;
        height: 500px;
        overflow-y: hidden;
        position: relative;
        .voile {
            background-color: black;
            z-index: 15;
            img {
                width: 100%;
                opacity: 0.6;
            }
        }
        .inner-text {
            z-index: 20;
        }
    }
    #categories {
        .col-12 {
            height: 250px;
            .inner-col {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 95%;
                height: 100%;
            }
            h1 {
                margin: 0;
                background-color: rgba(0, 0, 0, 0.5)
            };
        }
    }
    #une {
        width: 80%;
        .carte {
            height: 350px;
            .inner-col {
                background-color: rgba(250, 128, 114, 0.308);
                .preview {
                    height: 200px;
                    overflow-y: hidden;
                }
                .text {
                    height: 150px;
                }
            }
            &:nth-child(1) {
                order: 6;
            }
            &:nth-child(2) {
                order: 6;
            }
            &:nth-child(3) {
                order: 6;
            }
        }

    }
}
