// :root{
//     scroll-behavior: smooth;
// }

#root {
    width: 100%;
    font-family: sans-serif;
    position: relative;
}
button#toTop {
    top: 80vh;
    left: 2vw;
    z-index: 50;
};

nav {
    height: 200px;
    a {
        text-decoration: none;
        color: black;
        padding: 20px 50px;
        font-weight: bold;
        &:hover {
            text-decoration: none;
            border-bottom: solid 3px $danger;
            border-top: solid 3px $danger;
            color: $danger;
            font-style: italic;
        }
    }
}
#home {
    margin: 0;
    padding: 0;
    width: 100%;
    #carouselBanner {
        width: 80%;
        .inner-banner {
            // width: 100%;
            height: 500px;
            overflow-y: hidden;
            position: relative;
            .voile {
                background-color: black;
                img {
                    width: 100%;
                    opacity: 0.6;
                }
            }
            .inner-text {
                z-index: 20;
            }
        }
    }
    #categories {
        margin-bottom: 100px !important;
        .col-12 {
            height: 250px;
            .inner-col {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 95%;
                height: 100%;
            }
            h1 {
                margin: 0;
                background-color: rgba(0, 0, 0, 0.5)
            };
        }
    }
    #content {
        position: relative;
        #une {
            width: 80%;
            .carte {
                height: 400px;
                .inner-col {
                    background-color:$danger;
                    .preview {
                        height: 200px;
                        overflow-y: hidden;
                    }
                    .text {
                        height: 150px;
                        .date {
                            color: rgb(168, 161, 161);
                        }
                    }
                    button {
                        &:hover {
                            border: solid 1px $danger;
                            background-color: $light;
                            color: $danger !important;
                        }
                    }
                }
                &:nth-child(1) {
                    order: 6;
                }
                &:nth-child(2) {
                    order: 6;
                }
                &:nth-child(3) {
                    order: 6;
                }
            }
    
        }
        #sidebar {
            position: sticky;
            top: 0;
            right: 0;
            width: 20%;
            height: fit-content;
            #social{
                margin-top: 50px;
                color: $danger;
               .sociali{
                   transform-origin: center;
                   transition: 0.2s;
                   &:hover {
                       transform: scale(1.2)
                    };
               };
            };
            #random{
                background-color: white;
                overflow: hidden;
                #readOne{
                    width: 100%;
                    height: 200px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    transition: 0.4s;
                    &:hover {
                        opacity: 0.8;
                        transform: scale(1.2);
                    }
                };
            }
        };
    }
}


#tous-articles {
    .tous-article-page {
        
        .row {
            height: 230px;
            .img {
                overflow: hidden;
                img {
                    height: 230px;
                }
            };
            .text {
                position: relative;
                a {
                    position: absolute;
                    top: 75%;
                    right: 20px;
                }
            }
        }
    }
};

#form {
    form {
        .row {
            input,textarea{
                border: none;
                border-radius: 0;
                border-bottom: solid 3px $danger;
                transition: 0.2s;
                &#recit{
                    border-left: solid 3px $danger;
                }
                &::placeholder {
                    color: $danger;
                }
                &:focus{
                    outline: none;
                    background-color: $danger;
                    color: white !important;
                    caret-color: white;
                    &::placeholder{
                        color: white;
                    }
                }
            }
            #name, #email {
                width: 40%;
            };
            textarea{
                resize: none;
            }
            input#file {
                display: none;
            };
        }
    }
}

footer {
    margin-top: 100px;
    #subscribe {
        height: 175px;
        .inscris {
            font-size: large;
            text-shadow: 2px 1px 2px $danger;
        }
        #email {
            width: 50%;
            border-bottom: 3px solid $danger !important;
            &::placeholder {
                color: $danger;
            }
            &:focus {
                outline: none;
                background-color: $danger;
                caret-color: white;
                color: white;
                &::placeholder {
                    color: white;
                }
            }
        };
        #plane {
            fill: white;
        }

    };
    
}
