$primary:      #3E3AC7;
$secondary:     rgb(110, 109, 109);
$success:       #30C76E;
// $info:          $cyan !default;
$warning:       #C7B458;
$danger:        #c74c43;
// $light:         $gray-100 !default;
$dark: black;
